.chat-messages {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.messages {
  font-family: 'Outfit', sans-serif;
  color: seashell;
}


.sent-message {
  background-color: rgb(172, 135, 207);
  float: right;
  width: fit-content;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 40%;
}

.received-message {
  background-color: rgb(150, 89, 206);
  float: left;
  width: fit-content;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  overflow-wrap: break-word;
  max-width: 40%;
}

#message-from {
  display: block;
  font-weight: 400;
  font-size: 0.8rem;
  color: black;
}

#time {
  display: block;
  font-weight: 400;
  font-size: 0.8rem;
  color: black;
}

#chat-input {
  font-family: 'Outfit', sans-serif;
  position: relative;
  max-width: 100%;
  min-width: 95%;
  height: fit-content;
  padding: 1rem;
  border:  1px solid rgb(92, 34, 141);
  border-radius: 10px;
  background-color: rgb(244, 237, 249);
  white-space: normal;
  overflow-wrap: break-word;
  resize: none;
}

#chat-input:focus {
  outline: none;
  background-color: rgb(255, 255, 255);
}
